<template>
  <div class="about">
    <!-- <form id="app" @submit="checkForm" action="/createplan" method="post"> -->
    <button
      @click="goto_createPlan"
      type="button"
      class="bg-green-400 p-2 mx-1.5"
    >
      สร้างแผนนับ
    </button>
    <button class="bg-red-400 p-2 mx-1.5">ปิดแผนนับ</button>
    <button class="bg-yellow-400 p-2 mx-1.5">รายงานแผนการตรวจนับ</button>
    <hr class="mt-20" />
    <h2>1.สร้างแผนนับ</h2>

    <span class="font-bold mx-2">สร้างแผนนับ</span>
    <input type="text" class="border-2 border-gray-200 h-10 rounded" />
    <button
      type="button"
      @click="showAlert"
      class="mx-2 p-2 bg-green-400 rounded font-bold shadow-lg"
    >
      บันทึก
    </button>
    <br />
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2 border-2 border-black">
        <thead class="bg-green-400 border-2 border-black">
          <th class="px-2 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 border-2 border-black">รายละเอียดแผนนับ</th>
          <th class="px-2 border-2 border-black">ผู้สร้าง</th>
          <th class="px-2 border-2 border-black">หมายเหตุ</th>
        </thead>

        <tbody>
          <tr class="border-2 border-black">
            <td class="border-2 border-black px-2">WHQ-2021-001</td>
            <td class="border-2 border-black px-2">นับสต็อกวันที่ 20/4/2564</td>
            <td class="border-2 border-black px-2">กาญจนา</td>
            <td class="border-2 border-black px-2"></td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    <hr />
    <!-- 2.ปิดแผนนับ -->
    <h2 class="mt-2">2.ปิดแผนนับ</h2>
    <span class="mx-2 font-bold">แผนนับ</span>
    <input type="text" class="border-2 border-gray-200 h-10 rounded" />
    <button type="button" class="mx-2 p-2 bg-yellow-400 rounded font-bold">
      ค้นหา
    </button>
    <br />
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2">
        <thead class="">
          <th></th>
          <th class="px-2 bg-green-400">เลขที่แผนนับ</th>
          <th class="px-2 bg-green-400">รายละเอียดแผนนับ</th>
          <th class="px-2 bg-green-400">ผู้สร้าง</th>
          <th class="px-2 bg-green-400">หมายเหตุ</th>
        </thead>

        <tbody>
          <tr class="">
            <td>
              <button
                type="button"
                @click="closeplan"
                class="underline text-red-500 shadow-lg"
              >
                ปิดแผน
              </button>
            </td>
            <td class="px-2">WHQ-2021-001</td>
            <td class="px-2">นับสต็อกวันที่ 20/4/2564</td>
            <td class="px-2">กาญจนา</td>
            <td class="px-2"></td>
          </tr>
          <tr class="">
            <td><button class="underline text-red-500">ปิดแผน</button></td>
            <td class="">WHQ-2021-002</td>
            <td class="">ปรับพื้นที่วันที่ 20/4/2564</td>
            <td class="">กาญจนา</td>
            <td class=""></td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    <hr />
    <!-- 3.อัปโหลดข้อมูลสต็อกจาก SAP เข้าโปรแกรมนับสต็อก -->

    <h2 class="mt-2">3.อัปโหลดข้อมูลสต็อกจาก SAP เข้าโปรแกรมนับสต็อก</h2>
    <div class="bg-white px-2 flex inline justify-center my-2">
      <div class="max-w-md rounded-lg overflow-hidden md:max-w-xl">
        <div class="w-44 h-10">
          <div
            class="relative border-dotted h-10 rounded-lg border-dashed border-2 border-blue-700 bg-gray-100 flex justify-center items-center"
          >
            <div class="absolute">
              <div class="flex flex-col items-center">
                <i class="fa fa-folder-open fa-4x text-blue-700"></i>
                <span class="block text-gray-400 font-normal">อัปโหลดไฟล์</span>
              </div>
            </div>
            <input
              type="file"
              class="h-full w-full opacity-0 cursor-pointer"
              name=""
            />
          </div>
        </div>
      </div>
      <input
        type="text"
        name=""
        id=""
        class="border-2 border-gray-200 h-10 rounded-lg mx-2"
      />
      <button
        type="button"
        @click="uploadplan"
        class="mx-2 p-2 bg-green-400 rounded font-bold shadow-lg hover:text-white"
      >
        ยืนยันการนำข้อมูลเข้าแผนนับ
      </button>
    </div>
    <hr />
    <!-- 4.การแก้ไขข้อมูลในแผนนับ -->

    <h2 class="mt-2">4.การแก้ไขข้อมูลในแผนนับ</h2>
    <div class="flex inline justify-center">
      <span class="font-bold mx-2 inline-block align-middle pt-3"
        >แผนตรวจนับ</span
      >
      <select
        class="border-2 border-gray-200 h-10 rounded-lg mx-2 form-select mt-1 block w-40"
      >
        <option>WHQ-2021-001</option>
        <option>WHQ-2021-002</option>
        <option>WHQ-2021-003</option>
      </select>
    </div>
    <div class="flex justify-center">
      <div class="mt-2 grid grid-cols-4 w-2/6">
        <span class="text-left">MAT</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left">Loc.</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left mt-2">BATCH</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
        <span class="text-left mt-2">ทีม</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
      </div>
      <button type="button" class="text-blue-500 underline mt-auto">
        ค้นหา
      </button>
    </div>
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2 border-b-0 border-l-0">
        <thead class="">
          <th></th>
          <th></th>
          <th class="px-2 bg-green-400 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 bg-green-400 border-2 border-black">Plant</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Code</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Desc</th>
          <th class="px-2 bg-green-400 border-2 border-black">Batch</th>
          <th class="px-2 bg-green-400 border-2 border-black">Loc.</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก</th>
        </thead>

        <tbody>
          <tr>
            <td>
              <button type="button" class="underline text-red-500">Edit</button>
            </td>
            <td>
              <button type="button" class="underline text-red-500">
                /Delete
              </button>
            </td>
            <td class="px-2 border-2 border-black">WHQ-2021-001</td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
          </tr>
          <tr class="">
            <td><button class="underline text-red-500">Edit</button></td>
            <td>
              <button type="button" class="underline text-red-500">
                /Delete
              </button>
            </td>
            <td class="border-2 border-black">WHQ-2021-002</td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="7" class="text-right">Total</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="flex justify-center">
      <div class="bg-gray-200 w-1/5 h- mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>: 5R13</td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>: 90</td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>: 2,392.20</td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button type="button" class="px-2 bg-indigo-400 rounded mx-2 w-16">
          Edit
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div class="edit_one bg-gray-200 w-1/5 h-80 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td><input type="text" value=" 5R13" /></td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td><input type="text" value=" 70" /></td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td><input type="text" value=" 2,392.20" /></td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded text-red-500"
        >
ขายแล้ว 20 เส้น</textarea
        >
        <br />
        <button
          @click="saveedit"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cencelsave"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
        <button></button>
      </div>
    </div>
    <div class="flex justify-center mt-8 my-2">
      <div class="bg-gray-200 w-1/5 h-80 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>: 5R13</td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>: 90</td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>: 2,392.20</td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button
          @click="deletes"
          type="button"
          class="px-2 bg-indigo-400 rounded mx-2 w-16"
        >
          Delete
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div class="delete_one bg-gray-200 w-1/5 h-80 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td><input type="text-red-500" value=" 5R13" /></td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td><input type="text-red-500" value=" 70" /></td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td><input type="text-red-500" value=" 2,392.20" /></td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button
          @click="deletes"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cenceldeletes"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
      </div>
    </div>
    <hr />
    <h2 class="mt-2">5.รายงานแผนการตรวจนับ</h2>
    <div class="flex inline justify-center">
      <span class="font-bold mx-2 inline-block align-middle pt-3"
        >แผนตรวจนับ</span
      >
      <select
        class="border-2 border-gray-200 h-10 rounded-lg mx-2 form-select mt-1 block w-40"
      >
        <option>WHQ-2021-001</option>
        <option>WHQ-2021-002</option>
        <option>WHQ-2021-003</option>
      </select>
    </div>
    <div class="flex justify-center">
      <div class="mt-2 grid grid-cols-4 w-2/6">
        <span class="text-left">MAT</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left">Loc.</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left mt-2">BATCH</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
        <span class="text-left mt-2">ทีม</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
      </div>
      <button type="button" class="text-blue-500 underline mt-auto">
        ค้นหา
      </button>
    </div>
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2 border-b-0 border-l-0">
        <thead class="">
          <th class="px-2 bg-green-400 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 bg-green-400 border-2 border-black">Plant</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Code</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Desc</th>
          <th class="px-2 bg-green-400 border-2 border-black">Batch</th>
          <th class="px-2 bg-green-400 border-2 border-black">Loc.</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวนนับจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน diff</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนักจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก diff</th>
        </thead>

        <tbody>
          <tr>
            <td class="px-2 border-2 border-black">WHQ-2021-001</td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
          </tr>
          <tr class="">
            <td class="border-2 border-black">WHQ-2021-002</td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-right">Total</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <hr />
    <h2 class="mt-2">6.แก้ไขจำนวนตรวจนับสต็อก</h2>
    <div class="flex inline justify-center">
      <span class="font-bold mx-2 inline-block align-middle pt-3"
        >แผนตรวจนับ</span
      >
      <select
        class="border-2 border-gray-200 h-10 rounded-lg mx-2 form-select mt-1 block w-40"
      >
        <option>WHQ-2021-001</option>
        <option>WHQ-2021-002</option>
        <option>WHQ-2021-003</option>
      </select>
    </div>
    <div class="flex justify-center">
      <div class="mt-2 grid grid-cols-4 w-2/6">
        <span class="text-left">MAT</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left">Loc.</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2"
        />
        <span class="text-left mt-2">BATCH</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
        <span class="text-left mt-2">ทีม</span>
        <input
          type="text"
          class="border-2 border-gray-200 h-8 rounded-lg mx-2 mt-2"
        />
      </div>
      <button type="button" class="text-blue-500 underline mt-auto">
        ค้นหา
      </button>
      <button type="button" class="text-blue-500 underline mt-auto ml-44">
        Add
      </button>
    </div>
    <div class="flex justify-center">
      <table class="table-auto border-collapse my-2 border-b-0 border-l-0">
        <thead class="">
          <th></th>
          <th></th>
          <th class="px-2 bg-green-400 border-2 border-black">เลขที่แผนนับ</th>
          <th class="px-2 bg-green-400 border-2 border-black">Plant</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Code</th>
          <th class="px-2 bg-green-400 border-2 border-black">Mat Desc</th>
          <th class="px-2 bg-green-400 border-2 border-black">Batch</th>
          <th class="px-2 bg-green-400 border-2 border-black">Loc.</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวนนับจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">จำนวน diff</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก SAP</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนักจริง</th>
          <th class="px-2 bg-green-400 border-2 border-black">น้ำหนัก diff</th>
          <th class="px-2 bg-green-400 border-2 border-black">
            ผู้สแกนป้าย Tag.
          </th>
          <th class="px-2 bg-green-400 border-2 border-black">เวลา</th>
        </thead>

        <tbody>
          <tr>
            <td><button class="text-red-500 underline">Edit</button></td>
            <td><button class="text-red-500 underline">Delete</button></td>
            <td class="px-2 border-2 border-black">WHQ-2021-001</td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
            <td class="px-2 border-2 border-black"></td>
          </tr>
          <tr class="">
            <td><button class="text-red-500 underline">Edit</button></td>
            <td><button class="text-red-500 underline">Delete</button></td>
            <td class="border-2 border-black">WHQ-2021-002</td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
            <td class="border-2 border-black"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8" class="text-right">Total</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
            <td class="border-2 border-black">ผลรวม</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="flex justify-center">
      <div class="bg-gray-200 w-80 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td class="w-36">ทีม:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุทีม"
              />
            </td>
          </tr>
          <tr>
            <td class="w-36">Mat Code:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Mat Code"
              />
            </td>
          </tr>
          <tr>
            <td class="w-36">Mat Desc:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Mat Desc"
              />
            </td>
          </tr>
          <tr>
            <td>Batch:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Batch"
              />
            </td>
          </tr>
          <tr>
            <td>Loc.:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุ Loc"
              />
            </td>
          </tr>
          <tr>
            <td>จำนวน:</td>
            <td>
              <input
                type="text"
                class="mb-1.5 placeholder-gray-500 placeholder-opacity-100"
                placeholder="ระบุจำนวน"
              />
            </td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button type="button" class="px-2 bg-indigo-400 rounded mx-2 w-16">
          Edit
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div class="edit_one bg-gray-200 w-1/5 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>ทีม</td>
            <td><input type="text" class="mb-1.5 text-red-500" value="1" /></td>
          </tr>
          <tr>
            <td>Mat Code</td>
            <td>
              <input
                type="text"
                class="mb-1.5 text-red-500"
                value="AGM1050060M"
              />
            </td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>
              <input
                type="text"
                class="mb-1.5 text-red-500"
                value="เหล็กฉาก 50x6.0มม(M)"
              />
            </td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>
              <input
                type="text"
                class="mb-1.5 text-red-500"
                value="8640003709"
              />
            </td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>
              <input type="text" class="mb-1.5 text-red-500" value=" 5R13" />
            </td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>
              <input type="text" class="mb-1.5 text-red-500" value=" 90" />
            </td>
          </tr>

          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded text-red-500"
        >
ป้าย Tag. ชำรุด</textarea
        >
        <br />
        <button
          @click="saveadd"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cencelsave"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
        <button></button>
      </div>
    </div>
    <div class="flex justify-center mt-2">
      <div class="bg-gray-200 w-1/5 h- mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>: 5R13</td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>: 90</td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>: 2,392.20</td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button type="button" class="px-2 bg-indigo-400 rounded mx-2 w-16">
          Edit
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div class="edit_one bg-gray-200 w-1/5 h-80 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td><input type="text" value=" 5R13" /></td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td><input type="text" value=" 70" /></td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td><input type="text" value=" 2,392.20" /></td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded text-red-500"
        >
ขายแล้ว 20 เส้น</textarea
        >
        <br />
        <button
          @click="saveedit"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cencelsave"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
        <button></button>
      </div>
    </div>
    <div class="flex justify-center mt-8 my-2">
      <div class="bg-gray-200 w-1/5 h-80 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td>: 5R13</td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td>: 90</td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td>: 2,392.20</td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button
          @click="deletes"
          type="button"
          class="px-2 bg-indigo-400 rounded mx-2 w-16"
        >
          Delete
        </button>
        <button type="button" class="mx-2 px-2 bg-green-400 rounded w-16">
          บันทึก
        </button>
        <button type="button" class="mx-2 px-2 bg-red-400 rounded w-16">
          ยกเลิก
        </button>
      </div>
      <div class="delete_one bg-gray-200 w-1/5 h-80 mx-2">
        <span>วันที่ 20/4/2564 เวลา 08:19:09 น.</span><br />
        <table class="text-left mt mx-4">
          <tr>
            <td>Mat Code</td>
            <td>: AGM1050060M</td>
          </tr>
          <tr>
            <td>Mat Desc</td>
            <td>: เหล็กฉาก 50x6.0มม(M)</td>
          </tr>
          <tr>
            <td>Batch</td>
            <td>: 8640003709</td>
          </tr>
          <tr>
            <td>Loc.</td>
            <td><input type="text-red-500" value=" 5R13" /></td>
          </tr>
          <tr>
            <td>จำนวน</td>
            <td><input type="text-red-500" value=" 70" /></td>
          </tr>
          <tr>
            <td>น้ำหนัก</td>
            <td><input type="text-red-500" value=" 2,392.20" /></td>
          </tr>
          <tr>
            <td>สาเหตุ</td>
          </tr>
        </table>
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          class="border-2 border-yellow-200 rounded"
        ></textarea>
        <br />
        <button
          @click="deletes"
          type="button"
          class="px-2 bg-green-400 rounded"
        >
          บันทึก
        </button>
        <button
          @click="cenceldeletes"
          type="button"
          class="mx-2 px-2 bg-red-400 rounded"
        >
          ยกเลิก
        </button>
      </div>
    </div>
    <!-- </form> -->
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

<script>
const axios = require("axios");
const Swal = require("sweetalert2");

export default {
  // created() {
  //   axios
  //     .get(urlapi + "dl/MR8")
  //     .then((response) => (this.layout = response.data));
  // },
  methods: {
    showAlert() {
      // Use sweetalert2
      Swal.fire({
        title: "Do you want to save the changes?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Save`,
        denyButtonText: `Don't save`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("Saved!", "", "success");
          this.$router.push("/createplan");
        } else if (result.isDenied) {
          Swal.fire("Changes are not saved", "", "info");
        }
      });
    },
    async closeplan() {
      const { value: text } = await Swal.fire({
        input: "textarea",
        inputLabel: "ระบุเหตุผล",
        inputPlaceholder: "Type your message here...",
        inputAttributes: {
          "aria-label": "Type your message here",
        },
        showCancelButton: true,
      });

      if (text) {
        Swal.fire({
          title: "Are you sure?",
          text: "คุณต้องการปิดแผนนับใช่หรือไม่",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes",
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire(
              "ปิดแผนนับเรียบร้อย",
              "แผนนับถูกปิดเนื่องจาก" + text,
              "success"
            );
          }
        });
      }
    },
    uploadplan() {
      Swal.fire({
        title: "คุณต้องการนำข้อมูลเข้าแผนนับใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("นำข้อมูลเข้าแผนนับแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("ยกเลิกการนำข้อมูลเข้าแผนนับแล้ว", "", "info");
        }
      });
    },
    saveedit() {
      Swal.fire({
        title: "ต้องการบันทึกข้อมูลการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("แก้ไขข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("ยกเลิกการแก้ไขข้อมูล", "", "info");
        }
      });
    },
    cencelsave() {
      Swal.fire({
        title: "ต้องการยกเลิกการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("ยกเลิกการแก้ไขข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("กลับไปแก้ไขข้อมูล", "", "info");
        }
      });
    },
    deletes() {
      Swal.fire({
        title: "Delete ข้อมูล",
        text: "คุณต้องการ Delete ข้อมูลใช่หรือไม่?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire("Delete สำเร็จ!", "ลบข้อมูลเรียบร้อยแล้ว", "success");
        }
      });
    },
    cenceldeletes() {
      Swal.fire({
        title: "ต้องการยกเลิก Delete ใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("ยกเลิก Delete ข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("กลับไปแก้ไขข้อมูล", "", "info");
        }
      });
    },
    saveadd() {
      Swal.fire({
        title: "ต้องการบันทึกการแก้ไขใช่หรือไม่?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: `Yes`,
        denyButtonText: `No`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire("บันทึกข้อมูลแล้ว", "", "success");
        } else if (result.isDenied) {
          Swal.fire("ยกเลิกการแก้ไขข้อมูล", "", "info");
        }
      });
    },
    goto_createPlan() {
      this.$router.push("/createplan");
    },
  },
};
</script>
<style></style>
