<template>
  <div>
    <div>
      <div class="flex justify-end">
        <table class="w-5/6 rounded">
          <thead>
            <tr class="bg-gray-300 border border-grey uppercase">
              <th
                colspan="2"
                class="px-1 lg:px-2 py-3 lg:py-6 text-xs md:text-base w-24"
                v-for="item in DATA"
                :key="item.BU"
              >
                {{ item.BU }}
              </th>
            </tr>
            <td
              v-for="item in DATA"
              :key="item.BU"
              colspan="2"
              class="border border-gray-300"
            >
              <div class="flex justify-inline">
                <div class="w-1/2 border-r bg-gray-200">
                  <span class="text-xs md:text-base">{{ item.MEM_WANT }}</span>
                </div>
                <div class="w-1/2">
                  <span class="text-xs md:text-base">{{ item.MEM_HAVE }}</span>
                </div>
              </div>
            </td>
          </thead>
        </table>
      </div>
      <div class="w-full flex justify-inline">
        <div class="text-left mt-4 w-1/6 flex flex-wrap">
          <table class="ml-4">
            <thead class="border border-gray-300">
              <tr
                v-for="position in GROUP"
                :key="position.POS"
                class="border border-gray-300"
              >
                <th
                  class="font-light text-xs md:text-base border border-gray-300 px-2"
                >
                  {{ position.SUM_WANT }}
                </th>
                <th
                  class="font-light text-xs md:text-base border border-gray-300 px-2"
                >
                  {{ position.SUM_HAVE }}
                </th>
                <th
                  class="font-light text-xs md:text-base border border-gray-300 px-2"
                  :id="position.POS"
                >
                  {{ position.POS }}
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="flex justify-end mt-4 w-5/6">
          <table class="w-full">
            <thead class="w-full">
              <tr class="bg-gray-300 border border-grey uppercase" hidden>
                <th
                  colspan="2"
                  class="px-1 lg:px-2 py-3 lg:py-6 text-xs md:text-base"
                  v-for="item in DATA"
                  :key="item.BU"
                >
                  {{ item.BU }}
                </th>
              </tr>
              <tr>
                <td
                  v-for="item in ARR_TOP"
                  :key="item.BU"
                  colspan="2"
                  class="border border-gray-300 w-24"
                >
                  <div class="flex justify-inline">
                    <div class="w-1/2 border-r bg-gray-200">
                      <span class="text-xs md:text-base">{{
                        item.summation_want
                      }}</span>
                    </div>
                    <div class="w-1/2">
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                  </div>
                </td>
              </tr>
              <!--------->
              <tr>
                <td
                  v-for="item in ARR_MID"
                  :key="item.BU"
                  colspan="2"
                  class="border border-gray-300 w-24"
                >
                  <div class="flex justify-inline">
                    <div
                      class="w-1/2 border-r bg-gray-200 cursor-pointer hover:bg-green-300"
                      @click="toggleModal(item.BU, w)"
                    >
                      <span class="text-xs md:text-base">{{
                        item.summation_want
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-green-200"
                      @click="toggleModal(item.BU, h)"
                    >
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                  </div>
                </td>
              </tr>
              <!-------->
              <tr>
                <td
                  v-for="item in ARR_OPR"
                  :key="item.BU"
                  colspan="2"
                  class="border border-gray-300 w-24"
                >
                  <div class="flex justify-inline">
                    <div
                      class="w-1/2 border-r bg-gray-200 cursor-pointer hover:bg-yellow-300"
                      @click="toggleModal2(item.BU, w)"
                    >
                      <span class="text-xs md:text-base">{{
                        item.summation_want
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-yellow-200"
                      @click="toggleModal2(item.BU, h)"
                    >
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                  </div>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div
      v-if="this.sModal"
      class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
    >
      <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
          >
            <table class="table-auto border border-gray-200">
              <thead>
                <tr
                  v-for="people in this.showData"
                  :key="people.name"
                  class="border border-gray-300"
                >
                  <th
                    class="text-left px-2 border-r border-gray-300 font-light"
                  >
                    {{ people.NAME }}
                  </th>
                  <th class="px-2 font-light">{{ people.WANT }}</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="sModal"
      class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
    >
      <div class="relative w-2/6 my-6 mx-auto max-w-4xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-center border-b border-solid border-blueGray-200 rounded-t"
          >
            <div class="w-full">
              <h3 class="text-2xl font-semibold">{{ this.nowBU }}</h3>
              <div>
                <h3 class="text-sm">{{ this.nowPOS }}</h3>
              </div>
            </div>
          </div>
          <!--body-->
          <div class="relative flex-auto flex justify-center">
            <table class="w-1/2">
              <thead class="border border-gray-300">
                <tr v-for="ii in this.showData" :key="ii.NAME">
                  <th class="border border-gray-300 font-light text-left px-2">
                    {{ ii.NAME }}
                  </th>
                  <th
                    class="border border-gray-300 font-light px-2"
                    v-if="st_now == 'want'"
                  >
                    {{ ii.WANT }}
                  </th>
                  <th class="border border-gray-300 font-light px-2" v-else>
                    {{ ii.HAVE }}
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <!--footer-->
          <div
            class="flex justify-center pt-1 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-sm px-6 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="toggleModal()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="this.sModal"
      class="opacity-25 fixed inset-0 z-40 bg-black"
    ></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      GROUP: [
        { POS: "TOP", SUM_WANT: "10", SUM_HAVE: "7" },
        { POS: "MIDDLE", SUM_WANT: "", SUM_HAVE: "11" },
        { POS: "OPERATION", SUM_WANT: "30", SUM_HAVE: "16" },
      ],
      DATA: [
        { BU: "DBS", MEM_WANT: "", MEM_HAVE: "" },
        { BU: "FNA", MEM_WANT: "", MEM_HAVE: "" },
        // { BU: "SMK", MEM_WANT: "", MEM_HAVE: "" },
        { BU: "HRM", MEM_WANT: "", MEM_HAVE: "" },
        // { BU: "ZEN", MEM_WANT: "", MEM_HAVE: "" },
        // { BU: "MMT", MEM_WANT: "", MEM_HAVE: "" },
        // { BU: "KTB", MEM_WANT: "", MEM_HAVE: "" },
        // { BU: "MALEE", MEM_WANT: "", MEM_HAVE: "" },
        // { BU: "SUVANA", MEM_WANT: "", MEM_HAVE: "" },
        // { BU: "S4J", MEM_WANT: "", MEM_HAVE: "" },
      ],
      ARR_TOP: [
        {
          POS: "TOP",
          BU: "DBS",
          DEP: [{ name: "", WANT: "1", HAVE: "1" }],
        },
        {
          POS: "TOP",
          BU: "FNA",
          DEP: [{ name: "", WANT: "1", HAVE: "0" }],
        },
        {
          POS: "TOP",
          BU: "HRM",
          DEP: [{ name: "", WANT: "1", HAVE: "0" }],
        },
      ],

      ARR_MID: [
        {
          POS: "MIDDLE",
          BU: "DBS",
          DEP: [
            { name: "DIT", WANT: "12", HAVE: "10" },
            { name: "DPC", WANT: "10", HAVE: "8" },
            { name: "DBD", WANT: "8", HAVE: "5" },
          ],
        },
        {
          POS: "MIDDLE",
          BU: "FNA",
          DEP: [
            { name: "FAC", WANT: "20", HAVE: "18" },
            { name: "FIA", WANT: "15", HAVE: "14" },
            { name: "FNA", WANT: "19", HAVE: "15" },
          ],
        },
        {
          POS: "MIDDLE",
          BU: "HRM",
          DEP: [
            { name: "MOS", WANT: "3", HAVE: "2" },
            { name: "MPQ", WANT: "2", HAVE: "1" },
          ],
        },
      ],
      ARR_OPR: [
        {
          POS: "OPERATION",
          BU: "DBS",
          DEP: [
            { name: "DIT", WANT: "13", HAVE: "9" },
            { name: "DPC", WANT: "10", HAVE: "8" },
            { name: "DBD", WANT: "8", HAVE: "6" },
          ],
        },
        {
          POS: "OPERATION",
          BU: "FNA",
          DEP: [
            { name: "FAC", WANT: "5", HAVE: "4" },
            { name: "FIA", WANT: "18", HAVE: "14" },
            { name: "FNA", WANT: "33", HAVE: "27" },
          ],
        },
        {
          POS: "OPERATION",
          BU: "HRM",
          DEP: [
            { name: "MOS", WANT: "21", HAVE: "18" },
            { name: "MPQ", WANT: "10", HAVE: "7" },
          ],
        },
      ],
      sumpos: "",
      sumpos_h: "",
      showData: [],
      nowBU: "",
      nowPOS: "",
      sModal: false,
      w: "want",
      h: "have",
      st_now: "",
    };
  },
  created() {
    this.sortBU();
    this.summation_top();
    this.summation_middle();
    this.summation_operation();
    this.sumbu();
  },
  methods: {
    sortBU() {
      this.DATA.sort(function (a, b) {
        if (a.BU < b.BU) {
          return -1;
        } else if (a.BU > b.BU) {
          return 1;
        } else {
          return 0;
        }
      });
      console.log("หลังเรียง=>", this.DATA);
    },
    toggleModal(dep, h) {
      this.sModal = !this.sModal;
      if (this.sModal == true) {
        this.show_inmid(dep, h);
      }
    },
    toggleModal2(dep, h) {
      this.sModal = !this.sModal;
      if (this.sModal == true) {
        this.show_inopr(dep, h);
      }
    },
    show_inmid(dep, h) {
      let data_group = [];
      this.nowBU = dep;
      this.nowPOS = "MIDDLE";
      this.st_now = h;
      this.ARR_MID.forEach((data) => {
        if (data.BU == dep) {
          for (let i = 0; i < data.DEP.length; i++) {
            data_group.push({
              NAME: data.DEP[i].name,
              WANT: data.DEP[i].WANT,
              HAVE: data.DEP[i].HAVE,
            });
          }
        }
      });
      this.showData = data_group;
      this.sModal = true;
    },
    show_inopr(dep, h) {
      let data_group = [];
      this.nowBU = dep;
      this.nowPOS = "OPERATION";
      this.st_now = h;
      this.ARR_OPR.forEach((data) => {
        if (data.BU == dep) {
          for (let i = 0; i < data.DEP.length; i++) {
            data_group.push({
              NAME: data.DEP[i].name,
              WANT: data.DEP[i].WANT,
              HAVE: data.DEP[i].HAVE,
            });
          }
        }
      });

      this.showData = data_group;
      // console.log(this.showData);
      this.sModal = true;
    },
    sumbu() {
      this.ARR_MID.forEach((data) => {
        let findIBU = this.DATA.findIndex((x) => x.BU == data.BU);

        if (findIBU !== -1) {
          let sumbu = 0;
          let sumbu_h = 0;

          this.ARR_OPR.forEach((x) => {
            if (x.BU == data.BU) {
              sumbu =
                data.summation_want +
                x.summation_want +
                parseInt(this.ARR_TOP[findIBU].DEP[0].WANT);
              sumbu_h =
                data.summation_have +
                x.summation_have +
                parseInt(this.ARR_TOP[findIBU].DEP[0].HAVE);

              console.log(data.summation_want);
              console.log("รวมต้องการ=>>", sumbu);
            }
            this.DATA[findIBU].MEM_WANT = sumbu;
            this.DATA[findIBU].MEM_HAVE = sumbu_h;
          });
        }
      });
    },
    summation_top() {
      let total_want = 0;
      let total_have = 0;
      let in_pos;
      this.ARR_TOP.forEach((element) => {
        let sh = 0;
        let sw = 0;
        sh = sh + parseInt(element.DEP[0].HAVE);
        sw = sw + parseInt(element.DEP[0].WANT);

        element.summation_have = sh;
        element.summation_want = sw;
        total_want = total_want + sw;
        total_have = total_have + sh;
        in_pos = element.POS; //in_pos คือตำแหน่ง TOP
      });
      this.sumpos = total_want;
      this.sumpos_h = total_have;
      let findPOS = this.GROUP.findIndex((x) => x.POS == in_pos); // หา index ที่ POS==TOP
      this.GROUP[findPOS].SUM_WANT = this.sumpos;
      this.GROUP[findPOS].SUM_HAVE = this.sumpos_h;
    },
    summation_middle() {
      //console.log(this.YIBYOI);
      let total_want = 0;
      let total_have = 0;
      let in_pos;
      this.ARR_MID.forEach((element) => {
        let sh = 0;
        let sw = 0;
        for (let i = 0; i < element.DEP.length; i++) {
          sh = sh + parseInt(element.DEP[i].HAVE);
          sw = sw + parseInt(element.DEP[i].WANT);
        }
        element.summation_have = sh;
        element.summation_want = sw;
        total_want = total_want + sw;
        total_have = total_have + sh;
        in_pos = element.POS; //in_pos คือตำแหน่ง middle
      });
      this.sumpos = total_want;
      this.sumpos_h = total_have;
      let findPOS = this.GROUP.findIndex((x) => x.POS == in_pos); // หา index ที่ POS==MIDDLE
      this.GROUP[findPOS].SUM_WANT = this.sumpos;
      this.GROUP[findPOS].SUM_HAVE = this.sumpos_h;
      // console.log(this.GROUP);
    },
    summation_operation() {
      //console.log(this.YIBYOI);
      let total_want = 0;
      let total_have = 0;
      let in_pos;
      this.ARR_OPR.forEach((element) => {
        let sh = 0;
        let sw = 0;
        for (let i = 0; i < element.DEP.length; i++) {
          sh = sh + parseInt(element.DEP[i].HAVE);
          sw = sw + parseInt(element.DEP[i].WANT);
        }
        element.summation_have = sh;
        element.summation_want = sw;
        total_want = total_want + sw;
        total_have = total_have + sh;
        in_pos = element.POS; //in_pos คือตำแหน่ง operation
      });
      this.sumpos = total_want;
      this.sumpos_h = total_have;
      let findPOS = this.GROUP.findIndex((x) => x.POS == in_pos); // หา index ที่ POS==OPERATION
      this.GROUP[findPOS].SUM_WANT = this.sumpos;
      this.GROUP[findPOS].SUM_HAVE = this.sumpos_h;
      // console.log(this.GROUP);
    },
  },
};
</script>
<style scoped>
#TOP {
  border-color: rgb(119, 155, 223);
  background-color: rgb(80, 108, 202);
  color: white;
}
#MIDDLE {
  border-color: rgb(126, 226, 126);
  background-color: rgb(60, 197, 42);
  color: white;
}
#OPERATION {
  border-color: rgb(252, 242, 99);
  background-color: rgb(223, 203, 30);
  color: white;
}
</style>
