<template>
  <div id="app">
    <div>
      <!-- <router-link to="/createplan">สร้างแผนนับ</router-link> |
      <router-link to="/closeplan">ปิดแผนนับ</router-link> |
      <router-link to="/report">รายงานแผนการตรวจนับ</router-link> -->
      <!-- <p class="font-bold text-gray-500 underline">
        ใช้ Tailwind CSS ได้เลยจ้า
      </p>
      <p class="font-bold text-pink-700 underline">นิวโปรเจคสวยๆเร้ยย</p>
      <router-link to="/edit_do">Click!!</router-link> -->
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
